<div class="container text-center">
    <h1>About Page</h1>
    <p>We are DevMatch. Our compnay focuses on created an exclusive community
    for developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, 
    consectetur adipisicing elit. Nobis, nihil doloremque magnam adipisci 
    pariatur modi placeat odio rem omnis suscipit non error maiores doloribus 
    at quos consequuntur laborum libero ullam.</p>
</div>